apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local # The domain used by Kubernetes DNS.
# The pod subnet (CIDR), this can be a single value or two values for dual-stack clusters.
podSubnets:
    - ${pod_cidr}
# The service subnet (CIDR), this can be a single value or two values for dual-stack clusters.
serviceSubnets:
    - ${service_cidr}
